{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'styles/styles.css' %}">
  <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.css' %}">
  <script src="{%static 'bootstrap/js/bootstrap.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
  <title>Regional Products</title>

  <style>
    body {
      font-family: "Trirong", serif !important;
    }
    </style>
</head>

<body>
  <!-- top navbar -->
  <div class="topnav">
    <div class="navbartopitem">Contact: info@domain.com</div>
    {% if request.user.is_authenticated %}
    <div class="navbartopitem"><a href="{%url 'Profile' %}">Profile</a><a href="#">{{request.user.first_name}}</a><a href="{%url 'SignOut' %}"> Logout</a> </div>
    {% else %}
    <div class="navbartopitem"><a href="{%url 'SignIn' %}">Login</a><a href="{%url 'SignUp' %}"> Register</a> </div>
    {% endif %}
  </div>
  <!-- top navbar end  -->
  <!-- navbar start -->

  <div class="navbarcustom sticky-top" id="navbar">
    <div class="navbar-item logo" style="margin-left: 0px;font-family: 'Sofia', sans-serif;"><a href="">Regional Products</a> </div>
    <div class="navbar-item" style="margin-left: 0px;"><a href="{%url 'Index' %}">Home</a></div>
    <div class="navbar-item"><a href="{%url 'Products' %}">Products</a></div>
    <div class="navbar-item"><a href="{%url 'Myorders' %}">My Orders</a></div>
    <div class="navbar-item"><a href="{%url 'Cart' %}">Cart</a></div>
    <div class="navbar-item"><a href="{%url 'SearchByLocation' %}">Search By Location</a></div>
    <div class="navbar-item">
      <form action="{%url 'SearchProducts' %}" method="post">
        {% csrf_token %}
        <input type="text" style="padding:3px" placeholder="Search" name="search" id="">
        <button type="submit" class="btn btn-outline-success btn-sm">Search</button>
      </form>
    </div>
  </div>

  <!-- navbar end  -->

  {% block content %}
    
  <!-- caroser Start  -->

  <div class="navcontainer">

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{%static 'img/caro-1.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'img/caro-2.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'img/caro-3.jpeg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- carosel end  -->

    <!-- card carosel start  -->

    <div class="container-fluid cards">
      <div class="row">
        <div class="col-md-4">
          <div class="card-1">
            <h2>Pickles From Your Neighborhood</h2>
            <img src="{%static 'img/cardcaro1.jpg' %}" alt="">
            <br>
            <a href="" class="nav-item">See More</a>

          </div>

        </div>
        <div class="col-md-4">
          <div class="card-1">
            <h2>Find HadiCraft items Near You</h2>
            <img src="{%static 'img/cardcaro2.jpeg' %}" alt="">
            <br>
            <a href="" class="nav-item">See More</a>

          </div>

        </div>
        <div class="col-md-4">
          <div class="card-1">
            <h2>Fasion Items Produced near you</h2>
            <img src="{%static 'img/cardcaro3.jpeg' %}" alt="">
            <br>
            <a href="" class="nav-item">See More</a>

          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- card carosel end  -->

  <!-- product start -->
  <br><br><br><br><br><br>
  <div class="container">
    <div class="productcontainer">
      <div class="heading">
        <h2>Our Products</h2>
        <div class="row mt-4">
          {% for item in product %}
          <div class="col-md-3">
            <a href="{%url 'ViewProduct' item.id %}" class="text-body" style="text-decoration: none;">
            <div class="product-card">
              <img src="{{item.image.url}}" alt="">
              <div class="item-dis">
                <h4>₹ {{item.price}}</h4>
                <h6>{{item.name}}</h6>
              </a>
                <div class="row">
                  <div class="col">
                    <a href="{%url 'AddTocart' item.id %}" class="btn btn-outline-info btn-sm">Buy Now</a>
                  </div>
                  <div class="col">
                    <a href="{%url 'AddTocart' item.id %}" class="btn btn-outline-warning btn-sm">Add To Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- <div class="col-md-3">
            <div class="product-card">
              <img src="{%static 'img/product2.jpeg' %}" alt="">
              <div class="item-dis">
                <h4>₹ 30</h4>
                <h6>Home Made Bath Soap</h6>
                <div class="row">
                  <div class="col">
                    <a href="" class="btn btn-outline-info btn-sm">Buy Now</a>
                  </div>
                  <div class="col">
                    <a href="" class="btn btn-outline-warning btn-sm">Add To Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-card">
              <img src="{%static 'img/product3.webp' %}" alt="">
              <div class="item-dis">
                <h4>₹ 20</h4>
                <h6>Deam Cather</h6>
                <div class="row">
                  <div class="col">
                    <a href="" class="btn btn-outline-info btn-sm">Buy Now</a>
                  </div>
                  <div class="col">
                    <a href="" class="btn btn-outline-warning btn-sm">Add To Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-3">
            <div class="product-card">
              <img src="{%static 'img/product4.jpeg' %}" alt="">
              <div class="item-dis">
                <h4>₹ 40</h4>
                <h6>Plant Decoration</h6>
                <div class="row">
                  <div class="col">
                    <a href="" class="btn btn-outline-info btn-sm">Buy Now</a>
                  </div>
                  <div class="col">
                    <a href="" class="btn btn-outline-warning btn-sm">Add To Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>
      </div>

    </div>
  </div>
  <br><br><br><br><br><br>

  <!-- product end  -->
  {% endblock %}

  <footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <u>Get To Know Us</u>

            <br>
            <ul>
              <li>About</li>
              <li>Contact</li>
              <li>Careers</li>
            </ul>
          </div>
          <div class="col-md-4">
            <u>Contact Us</u>
            <ul>
              <li>ABC Street</li>
              <li>Kochi</li>
              <li>Eranakulam</li>
            </ul>
          </div>
          <div class="col-md-4">
            <u>Get Money With Us</u>
            <ul>
              <li>Create Mercant</li>
              <li>Messege</li>
              <li><input type="text" placeholder="message"> <button class="btn btn-outline-success btn-sm">Sent</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="footercontent" style="text-align: center;font-size:smaller">
          All rights @ Developer
        </div>
      </div>
    </div>

  </footer>
</body>
</html>