{% extends "merchant_Index.html" %}
{% block content %}

<style>
    .modal-body input,
    select {
        width: 90%;
        padding: 6px
    }
</style>
<div class="conatiner mt-5 text-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <button class="btn btn-outline-dark btn-lg">Add New Product</button>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {% for fields in form  %}
                    {{fields.label}}: <br>
                    {{fields}} <br><br>
                        
                    {% endfor %}
                    <label for="">Pincode</label>  
                    <input type="number" list="items" name="pin" placeholder="Pincode" min="1"><br><br>
                    <datalist id="items">
                        {% for i in pincode %}
                            <option value="{{i}}">
                        {% endfor %}
                    </datalist>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Product</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    {% for m in messages  %}
    <h6 style="color:rgb(107, 4, 242);text-align:center;">{{m}}</h6>

    {% endfor %}
    <div class="tablecontainer mt-5">
        <table class="table">
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Place</th>
                <th>District</th>
                <th>Product Price</th>
                <th>Action</th>
            </tr>
            
            {% for item in products  %} 
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.category}}</td>
                <td>{{item.place}}</td>
                <td>{{item.district}}</td>
                <td>{{item.price}}</td>
                <td><a href="{%url 'ProductSigleViewMerchant' item.id %}" class="btn btn-outline-dark btn-sm">View</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
<br><br><br><br>

{% endblock %}