{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'styles/styles.css' %}">
  <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.css' %}">
  <script src="{%static 'bootstrap/js/bootstrap.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
  <title>Regional Products</title>

  <style>
    body {
      font-family: "Trirong", serif !important;
    }
    .card-1{
      text-align: center;
    }
    </style>
</head>

<body>
  <!-- top navbar -->
  <div class="topnav">
    <div class="navbartopitem">Contact: info@domain.com</div>
    {% if request.user.is_authenticated %}
    <div class="navbartopitem"><a href="#">{{request.user.first_name}}</a><a href="{%url 'SignOut' %}"> Logout</a> </div>
    {% else %}
    <div class="navbartopitem"><a href="{%url 'SignIn' %}">Login</a><a href="{%url 'SignUp' %}"> Register</a> </div>
    {% endif %}
  </div>
  <!-- top navbar end  -->
  <!-- navbar start -->

  <div class="navbarcustom sticky-top" id="navbar">
    <div class="navbar-item logo" style="margin-left: 0px;font-family: 'Sofia', sans-serif;"><a href="">Regional Products</a> </div>
    <div class="navbar-item" style="margin-left: 0px;"><a href="{%url 'Index' %}">Home</a></div>
    <div class="navbar-item"><a href="{%url 'Inventory' %}">Inventory</a></div>
    <div class="navbar-item"><a href="{%url 'Customerorders' %}">Customer Orders</a></div>
    <!-- <div class="navbar-item"><a href="">My Products</a></div>
    <div class="navbar-item"><a href="">Customer Messages</a></div> -->
    <div class="navbar-item">
      <form action="">
        <input type="text" style="padding:3px" placeholder="Search" name="" id="">
        <button class="btn btn-outline-success btn-sm">Search</button>
      </form>
    </div>
  </div>

  <!-- navbar end  -->

  {% block content %}
    
  <!-- caroser Start  -->

  <div class="navcontainer">

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{%static 'img/caro-1.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'img/caro-2.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'img/caro-3.jpeg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- carosel end  -->

    <!-- card carosel start  -->

    <div class="container-fluid cards">
      <div class="row">
        <div class="col-md-4">
          <div class="card-1">
            <h2>Total Products</h2>
            <br><br><br><br>
            <h1>{{product}}</h1>
            
            <br>
            <a href="" class="nav-item">View</a>

          </div>

        </div>
        <div class="col-md-4">
          <div class="card-1">
            <h2>Total Orders</h2>
            <br><br><br><br>
            <h1>10000</h1>
            <br>
            <a href="" class="nav-item">View</a>

          </div>

        </div>
        <div class="col-md-4">
          <div class="card-1">
            <h2>Pending Orders</h2>
            <br><br><br><br>
            <h1>10000</h1>
            <br>
            <a href="" class="nav-item">View</a>

          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- card carosel end  -->

  <!-- product start -->
  <br><br><br><br><br><br>
  
  <br><br><br><br><br><br>

  <!-- product end  -->
  {% endblock %}

  <footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <u>Get To Know Us</u>

            <br>
            <ul>
              <li>About</li>
              <li>Contact</li>
              <li>Careers</li>
            </ul>
          </div>
          <div class="col-md-4">
            <u>Contact Us</u>
            <ul>
              <li>ABC Street</li>
              <li>Kochi</li>
              <li>Eranakulam</li>
            </ul>
          </div>
          <div class="col-md-4">
            <u>Get Money With Us</u>
            <ul>
              <li>Create Mercant</li>
              <li>Messege</li>
              <li><input type="text" placeholder="message"> <button class="btn btn-outline-success btn-sm">Sent</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="footercontent" style="text-align: center;font-size:smaller">
          All rights @ Developer
        </div>
      </div>
    </div>

  </footer>
</body>
</html>